<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/404.css')}}">
        <title>Lambda-14 404</title>
    </head>
    <body>
        <div class="all_canvas" id="all_canvas">
            <canvas class="c1" id="c1" width="80" height="120"></canvas>
            <canvas class="c2" id="c2" width="80" height="120"></canvas>
            <canvas class="c3" id="c3" width="80" height="120"></canvas>
            <canvas class="c4" id="c4" width="340" height="40"></canvas>

        </div>

        <script src="{{url_for('static', filename='js/404.js')}}"></script>

    </body>
</html>