<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CyberRetro</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    </head>
    <body class="bg-dark d-flex flex-column min-vh-100" style="white-space: pre-wrap;">
        <script>
            function addTextToConsole(text) {
                var tag = document.createElement("p");
                var text = document.createTextNode(text);
                tag.appendChild(text);
                var element = document.getElementById("console");
                element.appendChild(tag);
            }
        </script>

        <script>
            function consoleClear() {
                var consoleNode = document.getElementById("console");
                consoleNode.innerHTML = "";
            }
        </script>

        <script>
            function submitForm() {
                sendData();
                var textField = document.getElementById('commandInput');
                textField.value = "";
            }


            function sendData() { // Функция, вызываемая по кнопке
                $.ajax({
                    // Настройки
                    type: "POST",
                    url: "/sendData",
                    data: $('form').serialize(),

                    // Функции обработчики
                    success: function(response) {
                        var json = jQuery.parseJSON(response)
                        message = json.outputText;
                        messageArray = message.split("\n");

                        if (messageArray[messageArray.length - 1] == "!!clear") {
                            consoleClear();
                            return;
                        }

                        addTextToConsole(message);
                        console.log(message);
                    },

                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        </script>

        <!-- Navbar -->
        <header>
            <nav class="nav nav-dark nav-tabs nav-fill nav-static-top bg-dark">
                <a class="nav-link text-light bg-dark active" data-toggle="tab" href="#TAB1">TAB 1</a>
                <a class="nav-link text-light" data-toggle="tab" href="#TAB2">TAB 2</a>
                <a class="nav-link text-light" data-toggle="tab" href="#TAB3">TAB 3</a>
            </nav>
        </header>

        <!-- Main block (console) -->
        <main role="main" id="console" class="container bg-dark text-light">

        </main>


        <!-- Footer (ввод команды) -->
        <footer class="footer bg-dark" style="padding-top: 60px;">
            <div class="container-fluid">
                <form name="form" id="form" autocomplete="off" spellcheck="false" onsubmit="javascript:submitForm();return false;">
                    <div class="row g-3">
                        <div class="col">
                            <input id="commandInput" name="commandInput" type="text" placeholder="Command >>>" class="form-control bg-dark text-light">
                        </div>
                        <div class="col-sm-1">
                            <button class="form-control bg-dark text-light" type="submit">Send</button>
                        </div>
                    </div>

                </form>
            </div>
        </footer>
    </body>
</html>